<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{framework}} Example</title>
    <link href="static/styles.css" type="text/css" rel="stylesheet">
</head>
<body class="center-vertical">
    <div class="center-horizontal">
        <div class="center-vertical title-zone">
            <h2 class="title" align="center">Welcome to {{framework}}</h2>
            <h3 class="title" align="center">{{framework_pun}}</h3>
        </div>
    </div>
    <div class="center-horizontal">
        <img src="static/bear-waving.jpg" class="bear-image"/>
    </div>
</body>
</html>